.forword-messageCol{
    border-radius: 25px;
    background-color: lightgray;
    height: 70px;
}
.forword-messageRow{
    margin: 10px;
    height: 450px;
}
.forwordInput{
    width: 100%;
    outline: 0px;
    border: 0px;
}
ul{
    margin-bottom: 10px;
}
.btn-send{
    float: right;
   //padding: 10px;
}
.user-list-ul{
    height: 200px;
    overflow-y: scroll;
}
.forword-message{
    word-break: break-all;
}
.disabled-send-btn {
    pointer-events: none;
  }
  .group-image{
      width: 50%;
      height: 100px;
      background-color: black;
      border-radius: 100%;
      text-align: center;
      vertical-align: middle;
      line-height: 100px;
  }