<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <form (ngSubmit)="signin(signinForm)" [formGroup]="signinForm">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input formControlName="username" class="form-control" placeholder="Username" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input formControlName="password" class="form-control" placeholder="password" type="password">
            </div> <!-- form-group// -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="signinForm.invalid"> Log In </button>
            </div> <!-- form-group// -->
            <p class="text-center">Haven't an account? <a href="#" routerLink="/signup" >Sign Up</a> </p>
        </form>
    </article>
</div> <!-- card.// -->