.chat-footer {
    padding: 0 !important;
  }

  .chat-footer form {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .chat-footer input {
    height: 50px;
    flex-grow: 1;
    line-height: 35px;
    padding-left: 20px;
    border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    font-size: 16px;
    color: #333;
    min-height: auto;
    overflow-y: hidden;
    resize: none;
    border-left: 1px solid #ccc;
  }

  .emoji-mart {
    position: fixed;
    bottom: 70px;
    right: 20px;
  }

  .chat-footer button {
    border: none;
    width: 50px;
    height: auto;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .toggle-emoji svg {
    width: 28px;
    height: 28px;
  }

  .giphy-search {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 300px;
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }

  .giphy-search input {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  .gif-result img {
    cursor: pointer;
  }