<div class="modal-header">
  <h4 class="modal-title">Forword Messages</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body forword-messageRow">
  
    <ul class="list-group forword-message">
        <li class="list-group-item">{{chatData.message}}</li>
        <li class="list-group-item"><input type="text" placeholder="Type a message here (optional)" class="forwordInput" name="optionalMsg" #optionalMsg  id="optionalMsg"></li>
      </ul>
    
        <ul class="list-group">
          <li class="list-group-item">
              <input type="text" placeholder="Search contacts" class="forwordInput"  [(ngModel)]="searchText" >
          </li>
            
        </ul>

    <ul class="list-group user-list-ul">
      <ng-container *ngFor="let userData of userList |  searchData :searchText">
        <li *ngIf="loginUser!=userData.user_id" class="list-group-item" >
          {{userData.name}} 
          <span 
          class="badge badge-pill btn-send"  
          id="userData.user_id"  
          (click)="sendForwordMessage(chatData,userData,optionalMsg.value)" 
          [ngClass]="userData.is_send=='no'? 'badge-primary handCursor' : 'badge-secondary disabled-send-btn'">Send</span>
        </li>
      </ng-container>
      </ul>
 
  
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>